@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Mouse+Memoirs&display=swap");

:root {
  --color1: #bdbdfd;
  --color2: #bc75f9;
  --color3: #535eeb;
  --color4: #00218a;
  --color5: #f1f2f6;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  color: #333;
}

body {
  background-color: var(--color1);
}

h1,
h2 {
  font-family: "Monoton", cursive;
}

h1 {
  margin: 2rem 1rem;
  text-align: center;
  margin-top: 3rem;
  font-size: 4rem;
}

h2 {
  font-size: 2.8rem;
}

section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 0 10rem;
  margin-top: 4rem;
}

.scores div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.scores button,
.form button {
  font-family: "Mouse Memoirs", sans-serif;
  border: none;
  outline: none;
  margin-left: 20px;
  height: 40px;
  width: 120px;
  letter-spacing: 3px;
  font-size: 1.3rem;
  background: none;
  cursor: pointer;
  border-radius: 10px;
  color: var(--color2);
  background-color: var(--color4);
  transition: all 0.2s ease-in;
}

.scores button i,
.form button i {
  padding-left: 5px;
}

.form button {
  width: 80%;
  margin-top: 1rem;
}

.scores button:hover,
.form button:hover {
  color: var(--color4);
  background-color: var(--color2);
}

.scores ul {
  width: 500px;
  border: 2px solid var(--color4);
  margin-top: 1rem;
  background-color: var(--color5);
  border-radius: 10px;
}

.scores ul li {
  margin: 5px 0;
  height: 40px;
  display: flex;
  align-items: center;
}

.scores ul li span {
  font-size: 1.5rem;
  padding-left: 10px;
  text-transform: capitalize;
  font-family: "Mouse Memoirs", sans-serif;
}

.scores ul li:nth-child(even) {
  background-color: var(--color1);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form input {
  display: block;
  outline: none;
  width: 400px;
  padding: 12px;
  background-color: var(--color5);
  margin: 10px 0;
  font-size: 1.2rem;
  font-family: "Mouse Memoirs", sans-serif;
  border: 2px solid #333;
  border-radius: 10px;
}
